.modal-body {
    position: relative;
}

#btn-addUser {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#btn-updateUser {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}